body {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
}

.completed {
  text-decoration: line-through;
}

#task-input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#task-add {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: lightblue;
  cursor: pointer;
}

.task-checkbox {
  cursor: pointer;
}

.task-li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.edit-button,
.delete-button {
  margin-left: 0.5rem;
}

.task-checkbox {
  margin: 0;
  margin-right: 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  .theme-button {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }

  .theme-button {
    color: black;
  }
}

.theme-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.theme-buttons-container {
  display: flex;
}

.theme-button {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid blue;
  padding: 0.4rem 0.2rem;
  min-width: 5rem;
  border-radius: 25px;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}